@model CategoriesItemModel

<li>
    <form action="/" method="post">
        <input asp-for="Category.Id" hidden />
        <input asp-for="Category.ParentCategoryId" hidden />
        <input asp-for="Category.UserId" hidden />
        <div class="input-group">

            <span class="input-group-text" id="basic-addon1">@Model.Category.Id</span>
            <input asp-for="Category.Name" type="text" class="form-control" placeholder="Category name" />
            <div class="input-group-append">
                <button asp-action="Save" class="btn btn-outline-success" type="submit">💾</button>
            </div>
            <div class="input-group-append">
                <button asp-action="AddSubcategory" class="btn btn-outline-success" type="submit">➕</button>
            </div>
            <div class="input-group-append">
                <button asp-action="Delete" class="btn btn-outline-danger" type="submit">⛔</button>
            </div>
            
        </div>
    </form>

    @if (Model.Children.Any())
    {
        <ul>
            @foreach(var item in Model.Children)
            {
                <partial name="_ListItemPartial" model="item" />
            }
        </ul>
    }
</li>
