@model CategoriesListModel

@if (Model?.Categories != null && Model.Categories.Any())
{
    <div>
        foreach(var category in Model.Categories)
        {
        <p>cat</p>
        }
    </div>
}